**/node_modules
**/certs
**/creds
**/configs
tests/screenshots/**
tests/*.log
tests/reports/**
.lsyncd
.vscode
**/package-lock.json
**/.DS_Store
start-*-tunnels.sh
**/config.env
/tests/.env*

./package-lock.json
